<div class="carousel">
    {{#foreach posts limit="7"}}
        <div class="carousel-item {{#if @first}}active{{/if}}">
            <img src="{{feature_image}}" alt="{{title}}">
            <div class="carousel-caption">
                <h3>{{title}}</h3>
                <p>{{date format="MMMM DD, YYYY"}}</p>
            </div>
        </div>
    {{/foreach}}
    <div class="carousel-prev">❮</div>
    <div class="carousel-next">❯</div>
</div>
