<div class="carousel-container">
  <h2 class="carousel-title">{{carousel_title}}</h2>
  <div class="carousel">
    {{#foreach carousel_items}}
    <div class="carousel-item">
      {{> "post-card"}}
    </div>
    {{/foreach}}
  </div>
  <button class="carousel-button prev">&lt;</button>
  <button class="carousel-button next">&gt;</button>
</div>