<footer class="site-footer">
  <div class="social-media">
    <a href="#">Facebook</a>
    <a href="#">Twitter</a>
    <a href="#">Instagram</a>
  </div>
  <div class="subscribe">
    <p>Subscribe to our newsletter!</p>
    <input type="email" placeholder="Your email address" />
    <button type="submit">Subscribe</button>
  </div>
</footer>