{{!< default}}
<div class="gh-page">
    <div class="gh-container">
        {{!-- Loop through each tag to create a slider dynamically based on user input --}}
        {{#get "tags" limit="all" include="count.posts"}}
            {{#foreach tags}}
                {{#if count.posts}}  <!-- Only display the slider if the tag has posts -->
                    <section class="category-slider">
                        <h2 class="slider-title">{{name}}</h2>
                        {{#get "posts" filter="primary_tag:{{slug}}" limit="7"}}
                            {{> "slider" }}
                        {{/get}}
                    </section>
                {{/if}}
            {{/foreach}}
        {{/get}}

        {{!-- Fallback to standard pagination if JS is not enabled --}}
        <noscript>
            <div class="gh-pagination">
                {{pagination}}
            </div>
        </noscript>
    </div>
</div>
