{{! Ana sayfa görünümü }}
<section class="carousel-section">
    {{> "carousel"}}
</section>

<section class="latest-posts">
    <h2>Latest Posts</h2>
    <div class="post-grid">
        {{#foreach posts limit="7"}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
</section>

<section class="load-more">
    <button id="load-more">Loading More</button>
</section>
