.arrow {
    width: 1.5rem;
    height: 1.5rem;
}
.arrow:hover {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
}
.facebook {
    width: 1.5rem;
    height: 1.5rem;
}
.twitter {
    width: 1.5rem;
    height: 1.5rem;
}
.rss {
    width: 1.5rem;
    height: 1.5rem;
}
#loader-1 {
    width: 1.5rem;
    height: 1.5rem;
}
